.button-text{
    // transform: translate(0, -50%);
    // background-color: aquamarine;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
    }
}
.left-button-change{
    
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    // left: 4px;
    // top: 50%;
    // transform: translate(0, -50%);
    // border: 1px solid black;
    border:3px solid rgba(255, 166, 41, 0.443);
    // border-radius: 20px;
    // margin: 50px;
    // background-color: blue;
    margin-left: -10px;
    transform: perspective(10px) rotateY(-1deg) ; 
    &:hover{

    }
    
}
.right-button-change{
    cursor: pointer;
    position: absolute;
    border-radius: 10px;
    // left: 4px;
    // top: 50%;
    // transform: translate(0, -50%);
    // border: 1px solid black;
    border:3px solid rgba(255, 166, 41, 0.443);
    // border-radius: 20px;
    // margin: 50px;
    // background-color: blue;
    margin-left: 6px;
    transform: perspective(10px) rotateY(1deg)  ; 
}
.change-model-buttons{
    position: fixed;
    // top:50%;
    // left:0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    top: 0;

    // position: absolute; /* Для позиционирования кнопок внутри контейнера */
    min-height: 100vh;
    // min-width: 100%;
    z-index: 9999;
    .change-button{
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // width: 7vw;
        top: 50%;
        transform: translate(0, -50%);
        // border: 1px solid rgba(255, 166, 41, 0.443);
        height: 40vh;
        border: 1px solid black;
    }
    .left-button{
        left: 0;
        
        // margin: 50px;
        
    }
    
    .right-button{
        right:0;
        
        // transform: rotate(90deg);
        // border-bottom: 10vw solid red;
        // right: 1vw;
        // width: 45vh;
        // height: 6vw;
        // background: red;
        // transform: perspective(10px) rotateY(1deg) rotate(90deg);
        // .text-button{
        // }
    }
}
.first-view{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 92vh;
    padding-bottom: 40px;
    .wrap-for-canvas{
        height: 90vh;
        display: flex;
        align-items: center;
        .canvas-3d{
            cursor: none;
            border: 5px solid rgba(255, 166, 41, 0.443); ;  
            border-radius: 25px;
            background-color: rgba(0, 0, 0, 0);
            canvas{
                height: 100%;
                width: 100%;
                outline: none;
                border: 0;
                background-color: rgba(0, 0, 0, 0);
            }
    }
    }
    
    .bg-model{
        display: flex;
        align-items: center;
        justify-content: center;
        .name-model{
            font-size: 12vw;
            // color: rgb(247, 216, 42);
            color:rgba(255, 166, 41, 0.443);
            font-family: 'TTHoves';
            font-weight: bold;
        }
    }
    .scroll-to-explore{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        .sclr-exp-text{
           font-size: 13px;
           margin-bottom: 7px; 
        }
        
        .vertical-line {
            width: 1px; 
            height: 20px; 
            background-color: black; 
            animation: bounce 0.7s infinite alternate; /* Название анимации, продолжительность, бесконечность, альтернативное движение */
        }
          
        @keyframes bounce {
            from {
              transform: translateY(6px); /* Начальное положение */
            }
            to {
              transform: translateY(-1px); /* Подпрыгивание на 20px вверх */
            }
        }
    }
    
}
.second-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .content{
        font-size: 24px;
        white-space: pre-line;
        width: 70vw;
        max-width: 700px;
        text-align: start;
    }
    .content-title{
        font-size: 30px;
        text-indent: 0;
    }
    @media (max-width:600px) {
        .content{
            font-size: 20px;
            width: 85vw;
        }
        .content-title{
            font-size: 24px;
        }
    }
}