.footer{
    // margin-top:40px;
    // margin-bottom: 20px;
    width: 95%;
        border-top: 3px solid var(--textColor);
        color: var(--textColor);
    // width: 100%;
    padding: 30px 10px;
    // padding-bottom: 40px;
    .footer-wrap{
        justify-content: center;
        gap: 30px;
        display: flex;
        margin: 0 auto;
        font-size: 21px;
        .element{
            font-size: 21px;
            cursor: pointer;
            border: 2px solid ;
            padding: 5px 10px;
            border-radius: 10px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}