.footer{
    width: 95%;
    border-top: 3px solid var(--textColor);
    color: var(--textColor);
    padding: 30px 10px;
    .footer-wrap{
        justify-content: center;
        gap: 30px;
        display: flex;
        margin: 0 auto;
        font-size: 21px;
        .element{
            font-size: 21px;
            cursor: pointer;
            border: 2px solid ;
            padding: 5px 10px;
            border-radius: 10px;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}