body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fbfe74;
  /* background-color: black; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: "TTHoves";
  src: local("TTHoves"),
   url("./fonts/tt/TTHoves-Medium.ttf") format("truetype");
  font-weight: normal;
}

body {
  overflow: auto;
  scrollbar-color: black transparent ; 

}

/* custom scrollbar */
*::-webkit-scrollbar {
  width: 17px;
}
*::-webkit-scrollbar-track {
  background: #fbfe74;
  /* change me to blue to match the background */
}
*::-webkit-scrollbar-thumb {
  border-radius: 14px;
  background: black;
  border-right: 4px #fbfe74 solid;
  border-left: 4px #fbfe74 solid;

  border-top: 3px #fbfe74 solid;
  border-bottom: 3px #fbfe74 solid;
  /* change border color to blue to match the background */
}